//  Variables

$primary-color: #989fce;
$secondary-color: #347fc4;
$third-color: #7d6b91;
$fourth-color: #5d536b;
$light-color: #fff;
$dark-color: #272838;

/*
$primary-color: #e3dcc2;
$secondary-color: #a6a867;
$third-color: #e3dc95;
$fourth-color: #51513d;
$light-color: #fff;
$dark-color: #1b2021;
*/
/*
$primary-color: #dab49d;
$secondary-color: #895737;
$third-color: #c08552;
$light-color: #f3e9dc;
$dark-color: #5e3023;
*/

$body-bg: $secondary-color;
$main-font: 'Arial';

$container: 960px;
$section-padding: 20px;
